<nav class="navbar navbar-light bg-light">
  <p>Wikinimous</p>
  <%= link_to "Add a new article", "articles/new"  %>
</nav>
<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Edit this article", "#{@article.id}/edit" %>
<%= link_to "Go back to articles", articles_path  %>
<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: {confirm: "Are you sure?"} %>

